<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ItemReturns</title>
    <!--Credits: Nodejs/HTML: David Uhlmann angular/CSS: Hamlet Baghdasaryan JavaScript/json/Jquery: Abel Chacko-->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- AngularJS (per assignment) | Author: Hamlet Baghdasaryan -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" type="text/css" href="Css.css">
</head>
<body ng-app="storeApp">
<header class="bg-primary text-white p-3">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
           <!-- <a class="navbar-brand" href="#">TBD Proto Corp</a>-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="Home.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="ShoppingCart.html">Cart</a></li>
                    <li class="nav-item"><a class="nav-link" href="ProductManagement.html">Product Management</a></li>
                    <li class="nav-item"><a class="nav-link" href="Shipping.html">Shipping Info</a></li>
                    <li class="nav-item"><a class="nav-link" href="BillingDetails.html">Billing Details</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="container my-5" ng-controller="ReturnsCtrl as vm">
    <h2>Return Items</h2>

    <!-- Return Items Table -->
    <div class="table-responsive my-4">
        <table class="table table-bordered table-striped" id="returnTable">
            <thead class="table-dark">
                <tr>
                    <th>Order Number</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Reason</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.items track by $index">
                    <td>{{ item.orderNumber }}</td>
                    <td>{{ item.productName }}</td>
                    <td><input type="number" min="1" class="form-control" ng-model="item.quantity"></td>
                    <td><input type="text" class="form-control" ng-model="item.reason" placeholder="Reason for return"></td>
                    <td><button type="button" class="btn btn-danger" ng-click="vm.remove($index)">Remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- JSON Display for debugging -->
    <h5>Return Products JSON:</h5>
    <pre id="returnJSON" class="json-output">{{ vm.items | json:2 }}</pre>
    <div id="ajaxStatus" class="mt-3" ng-if="vm.status.msg" ng-class="'alert alert-' + vm.status.kind">{{ vm.status.msg }}</div>
    <pre id="ajaxResponse" class="bg-light p-3 border rounded" ng-if="vm.server">{{ vm.server | json:2 }}</pre>

    <div class="mb-3">
        <button class="btn btn-success" ng-click="vm.submit()">Submit Return</button>
        <a href="BillingDetails.html" class="btn btn-secondary">Back to Billing</a>
    </div>
</main>

<script>
  (function(){
    'use strict';
    angular.module('storeApp', [])
      .controller('ReturnsCtrl', function($http){
        var vm = this;
        // Initial items (migrated from previous jQuery array)
        vm.items = [
          {orderNumber: 'A1001', productName: 'Laptop', quantity: 1, reason: ''},
          {orderNumber: 'A1002', productName: 'Mouse',  quantity: 2, reason: ''}
        ];

        vm.status = {kind:'', msg:''};
        vm.server = null;

        vm.remove = function(idx){ vm.items.splice(idx, 1); };

        vm.submit = function(){
          vm.status = {kind:'info', msg:'Submitting return request...'};
          vm.server = null;

            const express = require('express');
            const bodyParser = require('body-parser');
            const app = express();
            const server = require('http').Server(app);
            const port = 3004;
            const helmet = require('helmet');

            app.use(helmet());
            app.use(bodyParser.json());
            app.use(bodyParser.urlencoded({ extended: true }));

            app.use((req, res, next) => {
                res.setHeader('Access-Control-Allow-Origin', 'http://130.203.136.203:3004');
                res.setHeader('Access-Control-Allow-Methods', 'GET, POST, OPTIONS, PUT, PATCH, DELETE');
                res.setHeader('Access-Control-Allow-Headers', 'X-Requested-With, Content-Type, Accept');
                next();
            });

//pre-flight requests
            app.options('*', function(req, res) {
                res.send(200);
            });

            server.listen(port, (err) => {
                if (err) {
                    throw err;
                }
                /* eslint-disable no-console */
                console.log('Node Endpoints working :)');
            });

            module.exports = server;

          var endpoint = 'https://130.203.136.203:3004/api';
          $http.post(endpoint, { returns: vm.items })
            .then(function(res){
              vm.status = {kind:'success', msg:'Return submitted successfully.'};
              vm.server = res.data;
            })
            .catch(function(err){
              var msg = (err && err.data && (err.data.message||err.statusText)) || 'Request failed. Check API & CORS.';
              vm.status = {kind:'danger', msg: msg};
              vm.server = err && err.data ? err.data : err;
            });
        };
      });
  })();
  </script>


</body>
</html>
